QPR/.DS_Store
QPR/models/__pycache__/
QPR/data/Cluster/
QPR/data/TFIM/
QPR/data/XXZ/
QPR/results_old/
QPR/results_300conv/
QPR/Figures/correlations/

NQE/__pycache__/
NQE/models/__pycache__/
NQE/models/data_reuploading.py
NQE/kmnist/
.DS_Store
Archive/